__pycache__/
*.pyc
.env
.vscode/
logs/

**.out
/__pycache__
**/__pycache__
/.ipynb_checkpoints
src/outputs
**/outputs
src/runs
src/hybrid_output
**/hybrid_output
**/runs
src/multirun
**/multirun
src/openai
**/profiles

src/experiments
src/ellyn

*.csv
*.pt

src/causal_graph_figs
src/old

!src/data/boolnet.csv

src/analysis_output
